.toolbar {
  position: relative;
  padding: 10px;
  min-height: 55px;
}

.greeting {
  position: absolute;
  left: 10px;
  color: #6a1979;
  top: 10px;
}
.board {
  position: absolute;
  left: 10px;
  color: #6a1979;
  top: 35px;
}