.task-item {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: 0;
  border-bottom: 1px solid #6a1979;
  position: relative;
}

.task-item:last-child {
  border-bottom: none;
}

.task-item-completed {
  text-decoration: line-through;
}

input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}

input[type="checkbox"]:checked + .checkbox-label::after {
  opacity: 1;
}

.checkbox-label::before {
  content: '';
  height: 18px;
  width: 18px;
  border: 2px solid #6a1979;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
}

.checkbox-label::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 13px;
  border: 2px solid;
  border-color: transparent #6a1979 #6a1979 transparent;
  transform: rotate(45deg);
  opacity: 0;
  transition: .3s opacity;
  cursor: pointer;
}

.checkbox-label-task::before {
  left: 18px;
  top: 11px;
}

.checkbox-label-task::after {
  left: 25px;
  top: 11px;
}



.delete-item-icon {
  color: #6a1979;
  font-size: 28px;
  line-height: 0;
  position: absolute;
  right: 10px;
  top: 18px;
  cursor: pointer;
  outline: none;
}

.delete-item-icon:hover {
  opacity: 0.7;
}

.edit-icon {
  position: absolute;
  right: 45px;
  top: 19px;
  cursor: pointer;
  outline: none;
}

.edit-icon:hover {
  opacity: 0.7;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?aakti9');
  src:  url('/fonts/icomoon.eot?aakti9#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?aakti9') format('truetype'),
    url('/fonts/icomoon.woff?aakti9') format('woff'),
    url('/fonts/icomoon.svg?aakti9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #6a1979;
  font-size: 18px;
  line-height: 0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e906";
}